@tailwind base;
@tailwind components;
@tailwind utilities;

/* ------------------- */
/* Reset starts             */
/* ------------------- */

/* Box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Reset margins */
body,
h1,
h2,
h3,
h4,
h5,
p,
figure,
picture {
  margin: 0;
}
/* set up smooth-scroll */
html {
  scroll-behavior: smooth;
}

/* set up the body */
body {
  background-color: #121c30;
  min-height: 100vh;
  min-width: 375px;
  display: flex;
  flex-direction: column;
  font-family: "Baloo 2", League Spartan, sans-serif;
  transition: colors ease-in-out 0.5s;
  color: #fff;
}
/* ------------------- */
/* interactive elements */
/* ------------------- */
.primary-btn {
  transition: 0.3s ease-in-out background;
}
.primary-btn:hover * {
  stroke: #fafafa;
}

/* ------------------- */
/* Header */
/* ------------------- */

.social-icons li a :hover {
  fill: #5fb4a2;
  /* scale: 1.2; */
}

/* ------------------- */
/* Hero */
/* ------------------- */

.heading {
  max-width: 277px;
}

/* ------------------- */
/* About */
/* ------------------- */

.about-description {
  /* max-width: 500px; */
}
@media (min-width: 1024px) {
  .about-description {
    max-width: 720px;
  }
}

/* ------------------- */
/* Footer */
/* ------------------- */

.heading-footer {
  max-width: 277px;
}
@media (min-width: 768px) {
  .heading-footer {
    max-width: 390px;
  }
}

/* ------------------- */
/* portfolio  */
/* ------------------- */

.cards-center {
  width: 80vw;
  max-width: 1170px;
  display: grid;
  column-gap: 32px;
  grid-template-columns: repeat(auto-fill, minmax(268.5px, 1fr));
}
.card {
  margin-bottom: 3rem;
}

.card-header {
  height: 20px;
  width: 100%;
  background-color: #343b4a;
  display: flex;
  align-items: center;
  gap: 4px;
  padding-left: 0.5rem;
}
.card-header span {
  width: 8px;
  height: 8px;
  display: block;
  border-radius: 50%;
}
.card-info {
  padding: 1rem;
}
.form {
  width: 90vw;
  max-width: 689px;
  /* margin: 3rem auto; */
  /* border: 1px solid #f43030; */
}
.form-row {
  margin-bottom: 1.5rem;
}

.form-label {
  display: block;
  margin-bottom: 0.5rem;
}
.form-input,
.form-textarea {
  width: 100%;
  padding: 0.375rem 0.75rem;
  background: rgb(227, 224, 247);
  color: #33323d;
}
.form-textarea {
  height: 6rem;
}
::placeholder {
  font-family: inherit;
  color: #33323d;
}
.form-alert {
  color: #f43030;
  display: none;
}

input:invalid[focusname="true"] ~ small {
  display: block;
}
input:invalid[focusname="true"] {
  border: 1px solid #f43030;
}
input:invalid[focusemail="true"] ~ small {
  display: block;
}
input:invalid[focusemail="true"] {
  border: 1px solid #f43030;
}
textarea:invalid[focusmessage="true"] ~ small {
  display: block;
}
textarea:invalid[focusmessage="true"] {
  border: 1px solid #f43030;
}
/* .closing-text-container {
  margin: 3rem auto;
} */
.closing-text {
  max-width: 60rem;
}
@media (min-width: 1024px) {
  .form {
    margin: 0rem;
  }
}
ul li::before {
  content: attr(data-icon);
  margin-right: 1rem;
  /* Make slightly larger than the li font-size
  but smaller than the li gap */
  /* font-size: 1.25em; */
}
/* li {
  display: grid;
  grid-template-columns: 0 1fr;
  gap: 0.75em;
  align-items: start;
  font-size: 0.5rem;
  line-height: 1.25;
} */
/* .social-icons li a:hover {
  transform: scale(1.2);
} */
.social-icons li a {
  display: inline-block;
}
.projects-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.footernav {
  margin-top: auto;
}
/* slideerjs */
.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  /* background: #fff; */

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper {
  margin-left: auto;
  margin-right: auto;
}

/* cardx */

.wrap {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  width: 85vmin;
  height: 25em;
  border: 8px solid;
  border-image: linear-gradient(
      -50deg,
      green,
      #00b300,
      forestgreen,
      green,
      lightgreen,
      #00e600,
      green
    )
    1;
  margin: 2rem auto;
  transition: 0.3s ease-in-out;
  position: relative;
  overflow: hidden;
}
.overlay {
  position: relative;
  display: flex;
  width: 100%;
  height: 100%;
  padding: 1rem 0.75rem;
  background: #186218;
  transition: 0.4s ease-in-out;
  z-index: 1;
}
.overlay-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 15vmin;
  height: 100%;
  padding: 0.5rem 0 0 0.5rem;
  border: 3px solid;
  border-image: linear-gradient(
      to bottom,
      #aea724 5%,
      forestgreen 35% 65%,
      #aea724 95%
    )
    0 0 0 100%;
  transition: 0.3s ease-in-out 0.2s;
  z-index: 1;
}
.image-content {
  position: absolute;
  top: 0;
  right: 0;
  width: 60vmin;
  height: 100%;
  background-image: url("https://assets.codepen.io/4787486/trees.png");
  background-size: cover;
  transition: 0.3s ease-in-out;
  /* border: 1px solid green; */
}

.dots {
  position: absolute;
  bottom: 1rem;
  right: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 55px;
  height: 4vmin;
  transition: 0.3s ease-in-out 0.3s;
}
.dot {
  width: 14px;
  height: 14px;
  background: yellow;
  border: 1px solid indigo;
  border-radius: 50%;
  transition: 0.3s ease-in-out 0.3s;
}

.text {
  position: absolute;
  top: 0;
  right: 0;
  width: 60vmin;
  height: 100%;
  padding: 3vmin 4vmin;
  background: #fff;
  background: red;
  box-shadow: inset 1px 1px 15px 0 rgba(0 0 0 / 0.4);
  overflow-y: scroll;
}

.wrap:hover .overlay {
  transform: translateX(-60vmin);
}
.wrap:hover .image-content {
  width: 30vmin;
}
.wrap:hover .overlay-content {
  border: none;
  transition-delay: 0.2s;
  transform: translateX(60vmin);
}
.wrap:hover .dots {
  transform: translateX(1rem);
}
.wrap:hover .dots .dot {
  background: white;
}

/* Animations and timing delays */
.animate {
  animation-duration: 0.7s;
  animation-timing-function: cubic-bezier(0.26, 0.53, 0.74, 1.48);
  animation-fill-mode: backwards;
}
/* Pop In */
.pop {
  animation-name: pop;
}
@keyframes pop {
  0% {
    opacity: 0;
    transform: scale(0.5, 0.5);
  }
  100% {
    opacity: 1;
    transform: scale(1, 1);
  }
}

/* Slide In */
.slide {
  animation-name: slide;
}
@keyframes slide {
  0% {
    opacity: 0;
    transform: translate(4em, 0);
  }
  100% {
    opacity: 1;
    transform: translate(0, 0);
  }
}

/* Slide Left */
.slide-left {
  animation-name: slide-left;
}
@keyframes slide-left {
  0% {
    opacity: 0;
    transform: translate(-40px, 0);
  }
  100% {
    opacity: 1;
    transform: translate(0, 0);
  }
}

.slide-up {
  animation-name: slide-up;
}
@keyframes slide-up {
  0% {
    opacity: 0;
    transform: translateY(3em);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.delay-1 {
  animation-delay: 0.3s;
}
.delay-2 {
  animation-delay: 0.6s;
}
.delay-3 {
  animation-delay: 0.9s;
}
.delay-4 {
  animation-delay: 1.2s;
}
.delay-5 {
  animation-delay: 1.5s;
}
.delay-6 {
  animation-delay: 1.8s;
}
.delay-7 {
  animation-delay: 2.1s;
}
.delay-8 {
  animation-delay: 2.4s;
}
/* cardxl */

.containerr {
  /* width: 1000px; */
  position: relative;
  display: grid;
  place-items: center;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  /* display: flex;
  justify-content: space-between; */
}
@media (min-width: 768px) {
  .containerr {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}
@media (min-width: 1024px) {
  .containerr {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}
.containerr .card {
  position: relative;
  cursor: pointer;
}

.containerr .card .face {
  width: 300px;
  height: 200px;
  transition: 0.5s;
}

.containerr .card .face.face1 {
  position: relative;
  background: #203a4c;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  transform: translateY(100px);
}

.containerr .card:hover .face.face1 {
  /* background: #ff0057; */
  background: #00aecb;
  /* background: #203a4c; */
  transform: translateY(0);
}

.containerr .card .face.face1 .content {
  opacity: 0.2;
  transition: 0.5s;
}

.containerr .card:hover .face.face1 .content {
  opacity: 1;
}

.containerr .card .face.face1 .content img {
  max-width: 100px;
}

.containerr .card .face.face1 .content h3 {
  margin: 10px 0 0;
  padding: 0;
  color: #fff;
  text-align: center;
  font-size: 1.5em;
}

.containerr .card .face.face2 {
  position: relative;
  background: #fff;
  /* background: #eaeaeb; */
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.8);
  transform: translateY(-100px);
}

.containerr .card:hover .face.face2 {
  transform: translateY(0);
}

.containerr .card .face.face2 .content p {
  margin: 0;
  padding: 0;
  color: #333;
}

.containerr .card .face.face2 .content a {
  margin: 15px 0 0;
  display: inline-block;
  text-decoration: none;
  font-weight: 900;
  color: #333;
  padding: 5px;
  border: 1px solid #333;
}

.containerr .card .face.face2 .content a:hover {
  background: #333;
  color: #fff;
}
